html,
body,
#root {
  padding: 0px !important;
  margin: 0px !important;
  height: 5vh !important;
}

#Select {
  margin-left: 5vw;
  display: block;
}

.buttonsUpDown {
  height: 4vh;
}

/* #e41 {
  background-color: black;
} */

#Lifts {
  display: none;
}

div {
  height: 10vh;
}

.StyledBox-sc-13pk1d4-0 jFcIfB {
  height: 5vh;
}

.StyledBox-sc-13pk1d4-0 krNieS {
  height: 5vh;
}

.Box {
  height: 2vh;
}
